@font-face {
  font-family: "raleway";
  src: url("../sass/fonts/Raleway-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "lusitana";
  src: url("../sass/fonts/Lusitana-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}