# Apache configuration file (see httpd.apache.org/docs/2.2/mod/quickreference.html)



<IfModule mod_rewrite.c>
#activar el rewrite
RewriteEngine on
ErrorDocument 404 http://localhost/cursos/php-api/api/front/

#no deja que se cargen directorios ni ficheros, son condiciones
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

#esto dice    pon   ^     aqui   (.*)   lo que esta en %1 y aqui   (.*)   lo que esta en $2
RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2
</IfModule>
